<header>
    <nav>
        <div class="logo"><a href="dashboard.html">BRAINSMASH</a></div>
        <ul class="nav-links">
            <li><a href="dashboard_student.html">Mijn Quizzes</a></li>
            <li><a href="leaderboard.html">Leaderboard</a></li>
            <li>
                <a href="profile_student.html">
                    <i class="material-icons">person</i>
                </a>
            </li>
            <li><button id="logoutBtn">Uitloggen</button></li>
        </ul>
    </nav>
</header>
