<header class="header--dynamic">
    <nav>
        <div class="logo"><a href="teacher_dashboard.html">BRAINSMASH</a></div>
        <ul class="nav-links">
            <li><a href="dashboard_teacher.html">Mijn Quizzes</a></li>
            <li><a href="teacher_create_quiz.html">Nieuwe Quiz</a></li>
            <li>
                <a href="profile_teacher.html">
                    <i class="material-icons">person</i>
                </a>
            </li>
            <li><button id="logoutBtn">Uitloggen</button></li>
        </ul>
    </nav>
</header>
