<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiel</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <main>
        <h1>Mijn Profiel</h1>
        <img id="avatar" src="../public/default-avatar.png" alt="Avatar">
        <input type="file" id="avatarUpload">
        <button id="uploadBtn">Profielfoto wijzigen</button>
    </main>
    <script src="../scripts/profile.js"></script>
</body>
</html>
